@model PagedList.IPagedList<WebApp.Models.Singer> 
@using PagedList.Mvc;

 <table class="table table-hover table-condensed">
        <caption>
            <strong>  Popular singers</strong>
        </caption>
       <thead>
             <tr>
                <td class='artist_name' colspan="2">
                 @Html.ActionLink("Singer", "Index", new { sortOrder = ViewBag.NameSortParm })</td>
                <td ><p>Count songs</p></td>
                <td><p>Count views</p></td>
            </tr>
        </thead>

            @foreach (var s in Model )
            {
                <tr>
                    <td><img src="@Url.Content(s.Picture)" /></td>
                    <td class='artist_name'>
                        @Html.ActionLink((string)@s.Name, "Singer", "Singer", routeValues: new { id = (int)@s.Singerid }, htmlAttributes: null)
                    </td>
                    <td>@s.CountSongs</td>
                    <td>@s.CountViews</td>
                </tr>
                }
    </table>
   
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))