@model WebApp.Models.Singer

<h1>@Model.Name</h1>
<div class="positions_cont">
    <img src="@Url.Content(@Model.BigPicture)" />
    <div class="left">
        <p>@Model.CountSongs Suite Chords</p>
        @Model.Biography
    </div>
</div>
<div id="container">
    <table class="table table-hover table-condensed">
        <caption>
            <strong> Suite Chords</strong>
        </caption>
        <thead>
            <tr>
                <td class='artist_name' colspan="2"><p>Title</p></td>
                <td><p>Video</p></td>
                <td><p>Count views</p></td>
            </tr>
        </thead>
        @foreach (var s in Model.SuiteChords)
        {
            <tr>
                <td class='artist_name' colspan="2">
                <p>@s.Name</p>
                    @Html.ActionLink((string)@s.Name, "Song", "Song", routeValues: new { id = (int)@s.SuiteСhordId }, htmlAttributes: null)
                </td>
                <td class="number icon">
                    @if (@s.Video != null)
                    {
                        <i class="fa fa-youtube-play"></i>
                    }
                </td>
                <td><p>@s.CountViews</p></td>
            </tr>
        }
    </table>

</div>
