@model WebApp.Models.Singer
@using PagedList.Mvc;
@using PagedList;
<h1>@Model.Name</h1>
<div class="positions_cont">
    <div class="left-cont">
        <p>@Model.CountSongs Suite Chords</p>
        @if (Model.Biography != null)
        {
            @Model.Biography;
        }
    </div>
    <div class="right-cont">
        @if(Model.BigPicture != null)
        { 
        <img src="@Url.Content(@Model.BigPicture)" />
        }

    </div>
</div>
<div id="container">
    @Html.Partial("SuiteChordList", @Model.SuiteChords.ToPagedList((int)ViewBag.page, 10))

    @Html.PagedListPager(@Model.SuiteChords.ToPagedList((int)ViewBag.page, 10), page => Url.Action("Singer", new { page }))
</div>
