@model WebApp.Models.SuiteСhord

        <br />
        <h4>Song : @Model.Name</h4>
        <p>@Model.CountViews Count Views</p>
        <h4>Singer : @Model.Singer.Name</h4>
        <div class="row positions_cont">
            <div class="span5 songtext">
                <pre>@Model.Text</pre>

                @if (Model.Video != null)
                {
                    <br />
                        <h2>Video:</h2>
                        <br />
                        <iframe src="@Url.Content(Model.Video)" width="560" height="315"></iframe>
                }
            </div>
            <div class="span6 chords">
                <h3>Аппликатуры аккордов</h3>
                <div id="song_chords">
                    @foreach (var s in Model.Fingerings)
                    {
                        <img src="@Url.Content(s.Picture)" />
                    }
                </div>
            </div>
        </div>

