@model WebApp.Models.SuiteСhord

@{
    ViewBag.Title = "UpdateSong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdateSong</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form">
        <h4>SuiteСhord</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SuiteСhordId)

        <div class="form-group">
            Song : @Model.Name
            <p>@Model.CountViews Count Views</p>
            @if (Model.Singer != null)
            {
                <h4>Singer : @Model.Singer.Name</h4>
            }
            
        </div>

        <div class="row positions_cont" >
            <div class="span5 songtext">
                @Html.TextAreaFor(m => m.Text, new { @class = "form-control textsong" })
                @if (Model.Video != null)
                {
                    <br />
                    <h2>Video:</h2>
                    <br />
                    <object style="float: none; clear: both; margin: 2px auto;" data="@Url.Content(Model.Video)" width="560" height="315"></object>
                }
            </div>
            <div class="span6 chords">
                <h3>Аппликатуры аккордов</h3>
                <div id="song_chords">

                    @if (Model.Fingerings.Count != 0)
                    {
                        string token = string.Join(",", Model.Fingerings.ToList().Select(x => x.Name).ToList());
                        <input type="text"  class="form-control" id="tokenfield" data-tokens="@token" />
                    }
                </div>
            </div>
        </div>
        <div class="form-group">
                <input type="submit" value="Save"  class="btn btn-info" id="submittoken" />
        </div>
    </div>
}
